.full-wrap { width:1200px; margin:0 auto; }
.sub-title { font-family: 'Light';}
.mobile { display: none !important; }

header { width: 100%; height:95px; background-color: #2e2e38; }
header div { display: flex; justify-content: center; align-items: center; }
header div span { font-size: 0.6875rem; color:#fff; }
header div figure { display: flex; }
header div figure.arrow { margin:0px 10px 0; }
header div figure.inquire { margin:20px 0px 0; }

.scroll-header { position:fixed; top:-95px; left:0; z-index: 1; width:100%; display: flex; height:95px; transition: all 0.5s; background: #fff; box-shadow: 0 3px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 4%); }
.scroll-header .content { display: flex; justify-content: space-between; align-items: center; }
.scroll-header .content .header { display: flex; align-items: center; }
.scroll-header .content .header figure { display: inherit; }
.scroll-header .content .header div { display: inline-block; font-family: 'Light'; font-size: 0.625rem; line-height: 1.875rem; letter-spacing: -0.025rem; }
.scroll-header .content .header div span { font-family: 'Bold'; }
.scroll-header .content span { font-size: 0.625rem; line-height: 1.875rem; letter-spacing: -0.025rem; }

.scroll-header.fixed-top { top: 0px; }

.base-contents { position: relative; overflow: hidden; }

.section1 { height:calc(100vh - 95px); background:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url('../img/img-background_.png') no-repeat; background-size: cover; background-position:top 0px center; }
/* .section1 .header { position:sticky; top:0; } */
.section1 .content { position:relative; display: flex; flex-direction: column; justify-content: center; height:100%; color:#fff; }
.section1 .content .top-pen { position: absolute; top:6.5px; }
.section1 .content .title { margin-bottom: 38px; font-size: 1.71875rem; line-height: 2.25rem; letter-spacing: -0.06875rem; }
.section1 .content .sub-title { margin-bottom:58px; font-size: 0.75rem; line-height: 1rem; letter-spacing: -0.03rem; }
.section1 .content .icon { display: flex; }
.section1 .content .icon figure { width: 188px; margin-right:9px; }





.section2 { padding:147px 0 134px; background-color: #ff6f57; overflow: inherit; }
.section2 .full-wrap { display: flex;  }
.section2 .content { display: flex; order:2; flex-direction: column; justify-content: center; padding-left:calc(617px + 20.5px); color:#fff; }
.section2 .content .title { margin-bottom: 70px; font-family: 'Light'; font-size:1.5625rem; line-height: 2rem; letter-spacing: -0.0625rem; }
.section2 .content .title span { font-family: 'Bold';  }
.section2 .content .sub-title { margin-bottom: 5px; font-family: 'Bold'; font-size:0.9375rem; line-height: 2.125rem; letter-spacing: -0.0375rem;  }
.section2 .content .sub-sub-title { font-family: 'Light'; font-size:0.625rem; line-height: 1rem; letter-spacing: -0.025rem;}
.section2 .icon { position: relative; order:1; }
.section2 .icon figure { position: absolute; left: 0; top: 0; width: 617px; }



.section3 { display: flex; align-items: center; justify-content: center; gap:167px; padding:218px 0 180px; }
.section3 .li { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.section3 .li figure { margin-bottom: 22.5px; }
.section3 .li:nth-child(1) figure { }
.section3 .li:nth-child(2) figure { margin-left:43px; }
.section3 .li:nth-child(3) figure { margin-left:22px; }
.section3 .li span { font-size:0.75rem; line-height: 1.0625rem; text-align: center; letter-spacing: -0.03rem; }
.section3 .li span.light { font-family: 'Light'; }
.section3 .li span.bold { font-family: 'Bold'; }



.section4 { height:1100px; background-color: #F5F5F5; }
.section4 .content { position: relative; display: flex; flex-direction: column; height:550px; padding:308px 0px 0px; }
.section4 .content .title { order:1; display: flex; flex-direction: column; width: 50;}
.section4 .content .title figure { width:73px; margin-bottom: 11.5px; }
.section4 .content .title span { font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section4 .content .title span.light { font-family: 'Light'; }
.section4 .content .title span.bold { font-family: 'Bold'; margin-bottom: 23.5px; }
.section4 .content .sub-title { order:2; font-size: 0.625rem; line-height: 1rem; letter-spacing: -0.025rem;}
.section4 .content .icon { order:3; position: absolute; top:100px; right:-70px; }
.section4 .content .icon figure { }



.section5 { height:1100px; }
.section5 .content { position: relative; display: flex; flex-direction: column; padding:304px 0px 0px; }
.section5 .content .title { order:2; display: flex; flex-direction: column; margin-left:764px; }
.section5 .content .title figure { width:73px; margin-left:2px; margin-bottom: 37px; }
.section5 .content .title span { font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section5 .content .title span.light { font-family: 'Light'; }
.section5 .content .title span.bold { font-family: 'Bold'; margin-bottom: 37px; }
.section5 .content .sub-title { order:3; margin-left:766px; font-size: 0.625rem; line-height: 1rem; letter-spacing: -0.025rem;}
.section5 .content .icon { order:1; position: absolute; top:108px; left: -70px; }
.section5 .content .icon figure { }

.section6 { height:1100px; background-color: #F5F5F5; }
.section6 .content { position: relative; display: flex; flex-direction: column; padding:302px 0px; }
.section6 .content .title { order:1; display: flex; flex-direction: column; width: 50%; }
.section6 .content .title figure { width:82px; margin-left:2px; margin-bottom: 30px; }
.section6 .content .title span { font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section6 .content .title span.light { font-family: 'Light'; }
.section6 .content .title span.bold { font-family: 'Bold'; margin-bottom: 37px; }
.section6 .content .sub-title { order:2; margin-left:2px; font-size: 0.625rem; line-height: 1rem; letter-spacing: -0.025rem;}
.section6 .content .sub-title .pro { display: flex; align-items: center; margin-top: 37px; }
.section6 .content .sub-title .pro figure { width:100px; }
.section6 .content .sub-title .pro span { margin-left:10px; font-family: 'Medium'; color:#ff6c58; letter-spacing: -0.8px; }
.section6 .content .icon { order:3; position: absolute; top:108px; right:-170px; }
.section6 .content .icon figure {  }


.section7 { background: #24242D; }
.section7 .content { max-height:1232px; padding:137px 0 0 0; background: url('../img/img-background-pen@3x.png') no-repeat center center; background-position: 60% 53%; background-size: 80%; }
.section7 .content span { display: block; color:#fff; font-size: 1.40625rem; line-height: 2.125rem; letter-spacing: -1.35px; text-align: center; }
.section7 .content span.light { font-family: 'Light'; margin-bottom: 50px; }
.section7 .content span.bold { font-family: 'Bold'; }
.section7 .tab { width:1000px; margin:0 auto;}
.section7 .tab input[type='radio'] { display: none; }
.section7 .tab input[type='radio'] + label { display: inline-block; margin:0 26px 35px; padding:0 2px 6px; font-size: 0.625rem; letter-spacing: -0.0375rem; color:#fff; }
.section7 .tab input[type='radio'] + label:nth-child(2) { margin-left:26%; }
.section7 .tab input[type='radio']:checked + label { color:#ff655a; border-bottom: 2px solid #ff655a; }
.section7 .tab input[id='tab01']:checked ~ .con01 { display: block; }
.section7 .tab input[id='tab02']:checked ~ .con02 { display: block; }
.section7 .tab input[id='tab03']:checked ~ .con03 { display: block; }
.section7 .tab input[id='tab04']:checked ~ .con04 { display: block; }
.section7 .tab .conbox { display: none; color:#fff; }
.section7 .tab .conbox > p { margin-bottom: 28px; text-align: center; font-size: 0.625rem; font-family: 'Light'; line-height: 0.9375rem; letter-spacing: -0.0375rem; }
.section7 .tab .conbox > figure { width:539px; height:734px; margin:0px auto; padding-top:20px; overflow: hidden; }
.section7 .tab .conbox .pro { display: flex; align-items: center; justify-content: center; }
.section7 .tab .conbox .pro figure { width:100px; }
.section7 .tab .conbox .pro span { margin-left:10px; font-size: 0.625rem; font-family: 'Light'; line-height: 0.9375rem; letter-spacing: -0.0375rem;color:#ff6c58; }


.section8 { }
.section8 .content { padding:132px 0 121px; text-align: center; }
.section8 .content figure { width:207px; margin:0 auto 21px; }
.section8 .content .title { margin-bottom:12px; }
.section8 .content .title span { font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section8 .content .title .light { font-family: 'Light'; }
.section8 .content .title .bold { font-family: 'Bold'; }
.section8 .content .sub-title { margin-bottom:96px; }
.section8 .content .sub-title span { font-size: 0.75rem; line-height: 1rem; letter-spacing: -0.03rem; font-family: 'Light'; }
.section8 .content a { display:inline-block; width:calc(100% - 15px); padding:28px 10px; font-family: 'Bold'; font-size: 0.6875rem; background-color:#fff; border:2px solid #CCC; border-radius: 10px;  }




.section9 { background:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url('../img/farrel-nobel-bh-lfk-8-l-hv-us-unsplash-copy@3x.png') no-repeat; background-size: cover; background-position:top 0px center; }
.section9 .content { padding:150px 0 180px; color:#fff; }
.section9 .content .title { margin-bottom:10px; font-family: 'Bold'; font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section9 .content .sub-title { margin-bottom:30px; font-family: 'Bold'; font-size: 0.8125rem; line-height: 1.25rem; letter-spacing: -0.52px; }
.section9 .content a figure { width:187px; padding:0px; background:transparent; border:0px; }

.section10 { padding:110px 0 105px; }
.section10 .content { position: relative; display: flex; }
.section10 .content::before { content: ''; display:inline-block; position: absolute; top:-30px; right:-1%; width: 208px; height: 208px; background-color: #7f7f7f; border-radius: 150px; opacity: 0.2; }
.section10 .content::after { content: ''; display:inline-block; position: absolute; top:2px; right:-36%; width: 592px; height: 592px; background-color: #ff8c19; border-radius: 300px 300px 0 0; }
.section10 .content figure { margin-right:380px; overflow: hidden; }
.section10 .content .title { position: relative; z-index: 1; }
.section10 .content .title span { display: block; font-size: 0.8125rem; }
.section10 .content .title a figure { width:187px; margin-top:20px; padding:0px; background:transparent; border:0px; }

.section11 {  background-color: #353535;}
.section11 .content { padding:105px 0 105px; }
.section11 .content p { width:380px; font-family: 'Light'; }
.section11 .content .title { padding-bottom: 6px; font-size:0.5rem; letter-spacing: -0.03rem; color:#fff; border-bottom:1px solid #808080; }
.section11 .content .copylight { margin-top:11px; font-size:0.5rem; color: #808080; }


.section12 { height:1100px; }
.section12 .content { position: relative; display: flex; flex-direction: column; padding:304px 0px 0px; }
.section12 .content .title { order:2; display: flex; flex-direction: column; margin-left:753px; }
.section12 .content .title figure { width:90px; margin-left:2px; margin-bottom: 37px; }
.section12 .content .title span { font-size: 1.40625rem; line-height: 1.875rem; letter-spacing: -0.9px; }
.section12 .content .title span.light { font-family: 'Light'; }
.section12 .content .title span.bold { font-family: 'Bold'; margin-bottom: 37px; }
.section12 .content .sub-title { order:3; margin-left:755px; font-size: 0.625rem; line-height: 1rem; letter-spacing: -0.025rem;}
.section12 .content .sub-title .pro { display: flex; align-items: center; margin-top: 37px; }
.section12 .content .sub-title .pro figure { width:100px; }
.section12 .content .sub-title .pro span { margin-left:10px; font-family: 'Medium'; color:#ff6c58; letter-spacing: -0.8px; }
.section12 .content .icon { order:1; position: absolute; top:108px; left: -70px; }
.section12 .content .icon figure { }